@import '../../../scss/variables.scss';

.section-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 3;
}
.btn-input-container{
  position:relative;

  &__search-bar{
    left: calc( 50% - 8.5rem );
    position: absolute;
    top: 0.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    width: 17rem;
    border-radius: 5px;
    background-color: rgba(184, 184, 184, 0.9);
    color:$fonts-color;
    margin-bottom: 5px;
  }

}


.sidenav-container{
  height: 100vh;
  width:100%;
  position: absolute;
  background-color: $body-bc;
  padding-top: 4rem;
  &__toolbar{
    width:17rem;
    background-color: $elements-bc;

    }

    &__toolbar-header{
      background-color: $menu-header-bc;
    }

    &__header-title{
      flex:1 1 auto;
    }

    &__toolbar-item{
      display: flex;
      align-items: center;
      &-label{
        margin-left: 1.5rem;
      }
    }
  }
  .sidenav-container,
  .sidenav-container__header-title,
  .sidenav-container__toolbar-item{
    color: $fonts-color;
  }
