@import './app/scss/variables.scss';

*{
  margin: 0;
  padding: auto;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: $body-bc;
  color: $fonts-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
